<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
				integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
	</script>
	<title>Desafio Unidac</title>
	
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
			rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
			crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<a th:href="@{/newEmployee}" class="btn btn-primary btn-sm mb-3">Cadastrar Colaborador</a>
		<a th:href="@{/recipes}" class="btn btn-primary btn-sm mb-3">Ir para Receitas</a>
		<h1>Colaboradores e Lanches</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nome</th>
					<th>CPF</th>
					<th>Ações</th>
					<th>Lanche</th>					
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${listEmployees}">
					<td th:text="${employee.name}"></td>
					<td th:text="${employee.cpf}"></td>
					<td>
						<a th:href="@{/employees/editEmployee/{id}(id=${employee.id})}" class="btn btn-primary btn-sm">Alterar</a>
						<a th:href="@{/employees/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger btn-sm">Excluir</a>			
					</td>
					<td th:text="${employee.recipe}"></td>
				</tr>
			</tbody>
		</table>
		<hr>
		<nav aria-label="...">
		    <ul class="pagination">
			    <li th:if="${listEmployees.totalPages > 0}" th:each="numeroPagina : ${numerosPaginas}" 
			    	th:class="${numeroPagina==listEmployees.number + 1} ? 'page-item active' : 'page-item'">
			    	<a class="page-link" th:href="@{/employees(size=${listEmployees.size}, page=${numeroPagina})}"
			        th:text=${numeroPagina}></a>
			    </li>
		    </ul>
		</nav>
	</div>
</body>
</html>