<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Desafio Unidac</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<hr>
		<h2>Editar Colaborador</h2>
		<form action="#" th:action="@{/employees/saveEmployee}" th:object="${employee}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
			<input type="text" th:field="*{name}" placeholder="Nome" class="form-control mb-4 col-4">
			<span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="text-danger"></span>
			<span th:if="${cpfAlreadyExists}" class="text-danger">Erro! CPF já cadastrado</span>
			<span th:if="${cpfInvalid}" class="text-danger">Erro! CPF não é válido.</span>
      		<input type="number" th:field="*{cpf}" placeholder="CPF" class="form-control mb-4 col-4">
      		<select th:field="*{recipe}" class="form-control">
			    <option value="0">Selecione/Remova o lanche</option>
			    <option th:each="recipe : ${notUsedRecipes}" th:value="${recipe.id}" th:text="${recipe.name}"></option>
			</select>
			<button type="submit" class="btn btn-info col-2">Salvar</button>
		</form>
		<hr>
		<a th:href="@{/employees}">Retornar para a Home</a>
	</div>
</body>
</html>